@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movies App (MVC version)</h1>
    <p>Click on the below button to access the movies list:</p>
    <a class="btn btn-primary" href="Movies">Access Movies List</a>
</div>

