@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Movies App (Razor Pages version)</h1>
    <p>Click on the below button to access the movies list:</p>
    <a class="btn btn-primary" href="Movies">Access Movies List</a>
</div>
